#myModal{
	font-family:	Tahoma,Verdana,Segoe,sans-serif;
}
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
	display: block;
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-right: 10px; /* shift box left */
  right: 0;
  top: 0;
  width: 300px; /* Full width */
  border-radius: 10px;
  overflow: hidden; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 10px;
  border: 3px solid #3d7923;
  width: 80%;
  border-radius: 30px;
  height: 150px;
  overflow: hidden;
}

.temp {
  padding: 0px 0px;
  display: inline-block;
  overflow: hidden; /* resize box to fit contents */
}